<!DOCTYPE html>

<head>
  <title>run x</title>
  <script src="{{url_for('static', filename='p5.min.js')}}"></script>
</head>

<body>
</body>

<script>
  let ns = {{ numSketches }};
  let details = {{ details | safe }}; // safe to decode list
  let w = {{ width }};
  let h = {{ height }};

  for (let i = 0; i < ns; i++) {
    let detail = details[i];

    console.log(detail);

    let sketch = function (p) {
      p.setup = function () {
        p.createCanvas(w, h);
      }

      p.draw = function () {
        p.background(p.color(detail.bg[0], detail.bg[1], detail.bg[2]));

        p.fill(p.color(detail.shapeCol[0], detail.shapeCol[1], detail.shapeCol[2]));
        let _p = `p.${detail.shape}`;
        eval(_p);
      }
    }
    let myp5 = new p5(sketch);
  }
</script>

</html>